            <!--navbar (Products and Algorithm Management)-->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'algorithm_list' %}">Algorithm Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Products</a>
            </li>

            <!--search Bar-->
                        <li class="nav-item">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2 search-bar" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </li>